@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

*{
  font-family: 'Kalam', cursive;
  padding: 0; margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
}

html{
  overflow-x: hidden;
  font-size: 62.5%;
}

.heading{
  color:#333;
  font-size: 3.5rem;
  padding: 1rem;
  padding-top: 6rem;
  text-align: center;
  letter-spacing: .2rem;
}

.heading span{
  color:#0098a1;
}

header{
  width: 96%;
  background:#fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top:1.5rem; left:50%;
  transform: translateX(-50%);
  border-radius: .5rem;
  box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
  padding:.3rem 2rem;
  transition: .2s linear;
  z-index: 1000;
}

.header-active{
  top:0;
  width:100%;
  border-radius: 0;
}

header .logo{
  color:#333;
  font-size: 3rem;
}

header .logo span{
  color:#0098a1;
}

header .navbar ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:0; padding:0;
}

header .navbar ul li{
  margin:0 1rem;
}

header .navbar ul li a{
  font-size: 2rem;
  color:#333;
  transition: .2s linear;
}


header .navbar ul li .active,
header .navbar ul li a:hover{
  color: #0098a1;
}

header .fa-bars{
  font-size: 3rem;
  color:#0098a1;
  cursor: pointer;
  display: none;
}

.home{
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding:2rem 10rem;
}

.home .video video{
  position: absolute;
  top:0; left:0;
  height:100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.home .content{
  margin-top: 7rem;
}

.home .content h1{
  font-size: 6.1vw;
  color:#fff;
  text-shadow: 0 .3rem .5rem #000;
}

.home .content p{
  font-size: 1.5vw;
  color:#eee;
  text-shadow: 0 .3rem .5rem #000;
  padding-left: 2rem;
  border-left: .3rem solid #ddd;
}

.feature{
  min-height:100vh;
  background:#f9f9f9;
}

.feature .card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.feature .card-container .card{
  width:30rem;
  margin:2rem;
  background: #fff;
  border-radius: .5rem;
  box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
  overflow: hidden;
  position: relative;
}

.feature .card-container .card img{
  height:25rem;
  width: 100%;
  object-fit: cover;
}

.feature .card-container .content{
  padding-bottom: 2rem;
  text-align: center;
}

.feature .card-container .content .title{
  color:#0098a1;
  font-size: 3rem;
}

.feature .card-container .content p{
  color:#333;
  font-size: 1.3rem;
  padding:1rem;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem;
  background:#222;
}

.footer .credit{
  font-size: 2rem;
  color:#eee;
}

.footer .credit span{
  color:#0098a1;
}

.footer .icons a{
  font-size: 2rem;
  margin:0 .5rem;
  height:4rem;
  width:4rem;
  line-height: 3.5rem;
  text-align: center;
  border-radius: 50%;
  color:#fff;
  border:.2rem solid #fff;
  transition: .2s linear;
}

.footer .icons a:hover{
  background:#0098a1;
}



















/* media queries  */

@media (max-width:991px){

  .home{
    flex-flow: column;
    padding:1.5rem;
  }

  .home .content{
    text-align: center;
  }

  .home .content h1{
    font-size: 5.5rem;
  }

  .home .content p{
    font-size: 1.8rem;
    padding:0; 
    border:none;
  }

}

@media (max-width:768px){

  html{
    font-size: 55%;
  }

  header .fa-bars{
    display: block;
  }

  header .navbar{
    position: fixed;
    top:-100rem; left:50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    z-index: 1000;
    transition: .2s linear;
    opacity: 0;
  }

  header .navbar ul{
    flex-flow: column;
  }

  header .navbar ul li{
    margin:1rem 0;
    width: 100%;
    text-align: center;
  }

  header .navbar ul li a{
    display: block;
    font-size: 3rem;
  }

  header .nav-toggle{
    top:5.5rem;
    opacity: 1;
  }

  .about .row{
    flex-flow: column;
  }

  .about .row .image img{
    width: 90vw;
  }

  .about .row .content{
    text-align: center;
  }

  .about .row .content .btn1{
    margin-right: 0;
  }

  .contact .row{
    flex-flow: column;
    align-items: flex-start;
  }

  .contact .row .contact-form-container{
    width:90%; 
    margin:0 auto;
  }

  .newsletter p{
    padding:1rem 0;
  }

  .newsletter form input[type="email"]{
    width: 100%;
    margin-bottom: 1rem;
  }

  .footer{
    flex-flow: column;
  }

  .footer .credit{
    text-align: center;
    padding-bottom: 3rem;
  }

}

@media (max-width:500px){

  .home .form-container{
    width: 100%;
  }

  .home .form-container form{
    width: 100%;
    margin:3rem 0;
  }

  .home .form-container form input[type="submit"]{
    width: 100%;
  }

  .contact .row .contact-form-container form input{
    margin:1rem 0;
    width:100%;
  }

  .contact .row .contact-form-container form input[type="submit"]{
    width:100%;
  }

}