.title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    margin-top: 10px;
}
.heading-table{
    background-color: #00ecf9;
    position: sticky;
}
.heading-table p{
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 20px;
}
table{
    width: 100%;
    margin-bottom: 10px;
    
}
th{
    background-color: greenyellow;
    
}
td{
    text-align: center;
}
 table tr:hover{
    background-color: #02FE73;
}

.form {
    border: 2px solid red;
}